# --- Core AI Orchestration ---
langchain>=1.2.3
langchain-community>=0.4.1
langchain-core>=1.2.7
langgraph>=1.0.6
pydantic>=2.12.5

# --- Model Providers ---
# Google / Vertex AI
langchain-google-vertexai>=2.1.2
langchain-google-genai>=2.0.0
google-cloud-aiplatform>=1.133.0
google-genai>=1.57.0

# OpenAI
langchain-openai>=1.1.7
openai>=2.15.0

# --- MCP & Tooling ---
fastmcp>=2.14.3
mcp>=1.25.0
# langchain-mcp>=0.2.1
langchain-mcp-adapters>=0.2.1
ddgs>=7.0.0

# --- Vector DB & Data ---
qdrant-client>=1.16.2
langchain-qdrant>=1.1.0
actiancortex @ https://github.com/hackmamba-io/actian-vectorAI-db-beta/raw/refs/heads/main/actiancortex-0.1.0b1-py3-none-any.whl
sqlalchemy>=2.0.45
pandas>=2.3.3
redis>=7.1.0

# --- Infrastructure & API ---
uvicorn>=0.40.0
starlette>=0.51.0
python-dotenv>=1.2.1
httpx>=0.28.1
requests>=2.32.5
tenacity>=9.1.2


supabase>=2.28.0
plotly>=6.5.2

psycopg2-binary>=2.9.11
